@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Roboto:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";


@theme {
  --color-hriday: #114961;
  --font-hriday: 'Roboto';
  --font-hriday2: 'Alan Sans';
  --animate-hriday: hriday 0.5s linear;

  @keyframes hriday {
    0%{
      transform: scaleY(0);
    }
    80%{
      transform: scaleY(1.05);
    }
    100%{
      transform: scaleY(1);
    }
  }
}
